PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://mahithk_db_user:8nkYB18Q6ajbbq3O@cluster0.qnkguch.mongodb.net/?appName=Cluster0
JWT_SECRET=ad5443d900fcc9b35d3b782b0cb01516f9b5bf0b0be5f433c03e63daa8904091
REDIS_URL=redis://default:SpTL49v81JtdCqy54FfCu5ofviWz94VK@redis-12704.crce300.ap-south-1-2.ec2.cloud.redislabs.com:12704
ALLOWED_ORIGINS=http://localhost:5173
BASE_URL=http://localhost:3000
